<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ForWord：ホーム</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<!--text-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap"
		rel="stylesheet">



	<!--title-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>



<body>
	<header>
		<h1 class="gradient">ForWord</h1>
	</header>


	<section>
		<div class="crayon-orange">
			<h4 th:text="${title}" class="title">タイトル</h4>
		</div>

		<!--/* 登録・更新完了コメント or 空白は許可されていませんコメント */-->
		<p th:if="${complete}" th:text="${complete}" style="color: blue"></p>
		<p th:if="${notcomplete}" th:text="${notcomplete}" style="color:red"></p>



		<nav>
			<ol class="main-menu">
				<li><a href="#" th:href="@{quiz/crud}" style="text-decoration: none;">単語を新規登録</a></li>


				<li>
					<form method="POST" th:action="@{/quiz/play}" style="display: inline-block;" class="btn btn--select">
						<input type="hidden" name="BeforeId" th:value="${BeforeId}">
						<input type="submit" value="ランダムで出題" class="random" style="background:transparent; border: none;">
					</form>
				</li>
				
				<li>
					<form method="POST" th:action="@{/quiz/playRed}" style="display: inline-block;" class="btn btn--select">
						<input type="hidden" name="BeforeId" th:value="${BeforeId}">
						<input type="submit" value="難易度赤出題" class="aka" style="background:transparent; border: none;">
					</form>
				</li>
				
				<li>
					<form method="POST" th:action="@{/quiz/playYellow}" style="display: inline-block;" class="btn btn--select">
						<input type="hidden" name="BeforeId" th:value="${BeforeId}">
						<input type="submit" value="難易度黄出題" class="ki" style="background:transparent; border: none;">
					</form>
				</li>
				
				<li>
					<form method="POST" th:action="@{/quiz/playGreen}" style="display: inline-block;" class="btn btn--select">
						<input type="hidden" name="BeforeId" th:value="${BeforeId}">
						<input type="submit" value="難易度緑出題" class="midori" style="background:transparent; border: none;">
					</form>
				</li>
			</ol>
		</nav>




		<br>

		<!--/* ========== ここまで上部エリア ========== */-->
		<hr>


		<div class="tables">
			<!--/* ========== ここから下部エリア ========== */-->

			<!--/* ▼▼▼ 新規登録時のみ表示 ▼▼▼ */-->
			<div th:if="${quizForm.newQuiz}" style="margin: 10px">
				<h3>登録単語一覧</h3>


				<!--/* 削除完了コメン ト */-->
				<p th:if="${delcomplete}" th:text="${delcomplete}" style="color: blue"></p>
				<p th:if="${msg}" th:text="${msg}" style="color: red"></p>


				<!--/* ▼▼▼ クイズ情報が1件でもあれば表示 ▼▼▼ */-->
				<!--リスト内にクイズがあるかどうか#listsで判定-->

				<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
					<tr>
					
						<th>内容</th>
						<th>正解</th>
						<th>誤解答選択肢:1</th>
						<th>誤解答選択肢:2</th>
						<th>誤解答選択肢:3</th>
						<th>難易度</th>
						<th>編集</th>
						<th>削除</th>
					</tr>

					<tr th:each="obj : ${list}" align="center">
						
						<td th:text="${obj.question}" align="left"></td>
						<td th:text="${obj.answer}"></td>

						<!--下記三件は誤解答選択肢-->
						<td th:text="${obj.select_one}"></td>
						<td th:text="${obj.select_two}"></td>
						<td th:text="${obj.select_three}"></td>
						<td th:text="${obj.color}"></td>

						<!--/* 編集ボタン */-->
						<td>

							<!--urlにidの値を埋め込むリクエストパラメータ-->
							<form method="GET" th:action="@{/quiz/{id}(id=${obj.id})}">
								<input type="submit" value="編集" class="btns submit">
							</form>
						</td>


						<!--/* 削除ボタン */-->
						<td>
							<form method="POST" th:action="@{/quiz/delete}">
								<input type="hidden" name="id" th:value="${obj.id}"> <input type="submit" value="削除"
									class="btns submit">
							</form>
						</td>
					</tr>
				</table>
				<!--/* △△△ クイズ情報が1件でもあれば表示 △△△ */-->



				<!--/* ▼▼▼ クイズ情報が1件もない場合表示 ▼▼▼ */-->
				<p th:if="${#lists.isEmpty(list)}">登録されているクイズはありません。</p>
				<!--/* △△△ クイズ情報が1件もない場合表示 △△△ */-->


			</div>
			<!--/* △△△ 新規登録時のみ表示 △△△ */-->




			<!--/* ▼▼▼ 新規登録時でない時に表示 ▼▼▼ */-->
			<p th:unless="${quizForm.newQuiz}">
				<a href="#" th:href="@{/quiz}">ホーム画面へ戻る</a>
			</p>
			<!--/* △△△ 新規登録時でない時に表示 △△△ */-->
		</div>
	</section>
</body>





</html>